//Banner

.banner {
  background-image: url("../img/alimentos.avif");
  background-size: cover;
  background-position: center;
//   height: 400px;
//   width: 100%;
  @include widthHeight(100%, 400px);
  opacity: 0.6; 
  @extend %flexCenter;
}
.banner-text {
  color: #fff;
  font-size: 3rem; 
  font-weight: bold;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.829);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.438);
  border-radius: 1em;
  padding: 2rem;

}