/* Nav */
nav {
  background-color: $colorCeleste;
}

.nav-link {
  color: $colorMarron;
  font-weight: bold;
  font-size: 1.7em;
  transition: color 0.3s;
}

.nav-link:hover {
  color: $colorNaranja;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: $colorNaranja;
}
.navbar-toggler{
  color: $colorNaranja;
}