//Recetas-Tips

.recetas-tips {
  display: flex;
  flex-direction: column; /* mobile: uno abajo del otro */
  gap: 1rem;
}

.recetas, .tips {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include widthHeight(100%, 400px);
  opacity: 0.8;
  box-shadow: 0 4px 6px #774f3888;
  @extend %flexCenter; 
  align-items: center;
}

.recetas {
  background-image: url("../img/recetas.png");
}

.tips {
  background-image: url("../img/tips.png");
}
.recetas-tips a{
    text-decoration: none;

}
.tips-recetas-titulo {
  margin: 6rem 0 3rem 0;
}
.tips-recetas-texto{
  text-align: center;
  padding: 0 2rem 0 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.seccion-recetas h5, .seccion-tips h5{
  text-align: center;
  font-weight: bold;
}
.seccion-recetas img{
 width: 100%;
  height: auto;
  min-height: 20rem;
  max-height: 20rem;
  object-fit: cover;
}