@media only screen and (min-width: 900px) {
  .header{
    margin-top: 4.5rem;

  }
  .contacto-formulario {
    max-width: 60%;
    margin: 0 auto;
    font-size: 1.6rem;
  }
  .btn{
    font-size: 1.6rem;
  }

  .nosotros-historia{
    margin: 3rem 0 3rem 0;
  }

  .nosotros-texto{
    padding: 0 7rem 0 7rem;
  }

}
