/* Listado de productos */
.listados{
    margin: 6rem 0 1.5rem 0;

}
.titulo-productos{
  text-align: center;
  margin: 1em 0;
  font-weight: bold;
}

.lista-productos{
  padding: 1rem;
  margin: 0 auto;
  max-width: 600px;
}

.lista-productos li{
  background-color: #f1d4af;
  margin: 0.5em 0;
  padding: 0.8em;
  border-radius: 0.5em;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);

  /* Animación base */
  opacity: 0;
  transform: translateX(3vw);
  animation: aparecerDerecha 0.8s forwards;
}

/* Los pares salen de la izquierda */
.lista-productos li:nth-child(even) {
  transform: translateX(-10vw);
  animation: aparecerIzquierda 0.8s forwards;
}

/* Animación de derecha */
@keyframes aparecerDerecha {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Animación de izquierda */
@keyframes aparecerIzquierda {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Animación escalonada (delay) */
.lista-productos li:nth-child(1) { animation-delay: 0.2s; }
.lista-productos li:nth-child(2) { animation-delay: 0.4s; }
.lista-productos li:nth-child(3) { animation-delay: 0.6s; }
.lista-productos li:nth-child(4) { animation-delay: 0.8s; }
.lista-productos li:nth-child(5) { animation-delay: 1s; }

.btn{
  margin-right: 1rem;
  
}