/* Nosotros */

.seccion-nosotros{
  margin-top: 6rem;
}

.nosotros-titulo{
  font-size: 2rem;
  font-weight: bold;
}

.nosotros-historia{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nosotros-texto{
  padding: 0 2rem 0 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}


.scroll-text {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}

.scroll-text.delay-1 {
  animation-delay: 0.3s;
}

.scroll-text.delay-2 {
  animation-delay: 0.8s;
}

.scroll-text.delay-3 {
  animation-delay: 1.2s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.trigo{
  display: block;
  margin: auto;
  @include widthHeight(9em, 6em);
}
.img-carrusel{
  @include widthHeight(30rem, 30rem);
  object-fit: contain;
}

.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
}